#titulo {
    color: red;
}

p.texto {
    color: blue;
}

p.especial {
    color: mediumorchid;
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: brown;
}

* {
    font-size: 24px;
    /*color: black;*/
}

.color {
    color: #ff0;
    border: 5px blue solid;
    border-radius: 5px;
}

#fondo {
    background-color: rgba(255, 0, 0);
    /*opacity: 0.3;
    background-image: url("");*/
    height: 300px;
    background: #f00 url('https://images.pexels.com/photos/13038616/pexels-photo-13038616.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load') repeat-y center bottom / 100px 100px;
}
.margen{
    background: chocolate;
    margin: 15px;
    padding: 30px 15px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}
.text{
    font-family: 'DynaPuff', cursive;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
}
a:link{
    color: blueviolet;
}
a:visited{
    color: gray;
}
a:hover{
    color: yellow;
}
a:active{
    color: red;
}
ul{
    background-color: cyan;
    list-style-type: none;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border:solid 1px black;
    padding: 5px;
}
th{
    background-color: tomato;
    color: white;
    text-align: left;
}
tr:nth-child(even){/*even es para los impares y odd es para pares*/
    background-color: #eee;
}
tr:hover{
    background-color: #aaa;
    cursor: pointer;
}
span{
    display: block;
    /*visibility: hidden; para ocultar el selector*/
    max-width: 300px;
    background-color: #f00;
}
.inline{
    display: inline;
}
#position{
    position: sticky;/*fixed mantiene menu fijo*/
    left: 20px;
}
.left{
    float: left;
    /*width: 200px;
    height: 200px;*/
}
.right{
    float: right;
    /*width: 100px;*/
}
.container{
    height: 200px;
}
.column{
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}
.inline-block{
    display: inline-block;
    height: 55px;
    background-color: red;
}
.center{
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}